@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


//Media Querry
/*
0 - 600px Phone
600 - 900    Tablet portrait
900 - 1200   Tablet landscape
1200 - 1800   is where our normal styles apply
1800+ :      Big desktop
*/

// @mixin respond-phone{
//     @media (max-widrh: 600px) {@content};
// }

/*
$breakpoint arguement choices:
- Phone
_ tab-port
- tab-land
- big-desktop
1em = 16px
*/

@mixin respond($breakpoint){
    @if $breakpoint==phone {
        @media (max-widrh: 37.5em) {@content}; //600px
        // @media screen and (max-widrh: 37.5em) {
        //     @content;
        // }
    }
    @if $breakpoint==tab-port {
        @media (max-widrh: 56.25em) {@content}; //900
        // @media screen and (max-widrh: 56.25em) {
        //     @content;
        // }
    }
    @if $breakpoint==tab-land {
        @media (max-widrh: 75em) {@content}; //1200
        //  @media(max-widrh: 1200px) {
        //     @content;
        // }
    }
    @if $breakpoint==big-desktop {
        @media (min-widrh: 112.5em) {@content}; //1800 
        //  @media screen and (min-widrh: 112.5em) {
        //     @content;
        // }
    }
}





