$light-green:#7ed56f;
$medium-green:#55c57a;
$dark-green:#28b485;
$cl-or-light: #ffb900;
$cl-or-dark: #ff7730;
$cl-b-light: #2998ff;
$cl-b-dark: #5643fa;

$cl-white:#fff;
$cl-black:black;
$cl-gray:#777;
$cl-lgray:#f7f7f7;
$cl-dgray:#999 ;
$cl-vdgray:#333 ;

//fonts
$df-size:1.6rem;

//grid
$grid-width: 114rem;
$gap-v: 8rem;
$gap-h: 6rem;